/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "keys_sv.h"

#define L_DEFAULT 0
#define L_SYM 1
#define L_NUM 2
#define L_NAV 3

&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <200>;
};

/ {
    behaviors {
        hm_l: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <250>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
            // hold-trigger-key-positions = <3 4 5 10 11 12 13 14>;
        };
        hm_r: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <250>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        td: tapdance {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPDANCE";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /*

ORDER:

_ = default
' = sym
: = default
( = sym
) = sym
{ = sym
} = sym
? = sym
& = sym
| = sym
, = default
; = default
. = default
=
> = sym
< = sym
/
- = default
[ = sym
] = sym
` = sym
$ = sym
+
!
* = sym
" = sym
\
@ = sym
# = sym
^ = sym
% = sym
~ = sym
å
ä
ö

            Q W F P B    J L U Y ⌫
            A R S T G    M N E I O
            Z X C D V    K H . , -
                             : ; _

            ⎋ # @ $ %    < { } > ⌫
            ⇥ = ` " '    ? ( ) | ↩
            ~ ^ & Å Ä    Ö [ ] / ②

            ⎋            + 1 2 3 ⌫
            ⇥   \ !      * 4 5 6 ↩
                         0 7 8 9 ②

            ⎋                ↑   ⌫
            ⇥              ← ↓ → ↩
                                  

        */

        default_layer {
            bindings = <
            &kp Q &kp W &kp F &kp P &kp B                                                   &kp J &kp L &kp U &kp Y &kp BSPC
            &kp A &hm_l LCTRL R &hm_l LALT S &hm_l LGUI T &kp G                             &kp M &hm_r RGUI N &hm_r RALT E &hm_r RCTRL I &kp O
            &kp Z &kp X &kp C &kp D &kp V                                                   &kp K &kp H &kp SV_DOT &kp SV_COMMA &kp SV_MINUS
                &mt LC(LS(LALT)) SPC &sk LSHIFT                                             &key_repeat &to L_SYM
            >;
        };

        symbols {
            bindings = <
            &kp ESC &kp SV_HASH &kp SV_AT &kp SV_DLLR &kp SV_PRCNT                          &kp SV_LT &kp SV_LBRC &kp SV_RBRC &kp SV_GT &kp BSPC
            &kp TAB &hm_l LCTRL SV_EQUAL &hm_l LALT SV_GRAVE &hm_l LGUI SV_DQT &kp SV_SQT   &kp SV_QMARK &hm_r RGUI SV_LPAR &hm_r RALT SV_RPAR &hm_r RCTRL SV_PIPE &kp ENTER
            &kp SV_TILDE &kp SV_CARET &kp SV_AMPS &kp SV_A_RING &kp SV_A_UMLAUT             &kp SV_O_UMLAUT &kp SV_LBKT &kp SV_RBKT &kp SV_SLASH &to L_NAV
                                    &to L_DEFAULT &sk LSHIFT                                &key_repeat &to L_NUM
            >;
        };

        numbers {
            bindings = <
            &kp ESC &none &none &none &none                                                 &kp SV_PLUS &kp N1 &kp N2 &kp N3 &kp BSPC
            &kp TAB &sk LCTRL &hm_l LALT SV_BSLH &hm_l LGUI SV_EXCL &none                   &kp SV_STAR &hm_r RGUI N4 &hm_r RALT N5 &hm_r RCTRL N6 &kp ENTER
            &none &none &none &none &none                                                   &kp N0 &kp N7 &kp N8 &kp N9 &to L_NAV
                    &to L_DEFAULT &sk LSHIFT                                                &key_repeat &to L_NUM
            >;
        };

        navigation {
            bindings = <
            &kp ESC &none &none &none &none                                                 &none &none &kp UP &none &kp BSPC
            &kp TAB &sk LCTRL &sk LALT &sk LGUI &none                                       &none &kp LEFT &kp DOWN &kp RIGHT &kp ENTER
            &none &none &none &none &none                                                   &none &none &none &none &none
                        &to L_DEFAULT &sk LSHIFT                                            &key_repeat &to L_SYM
            >;
        };
    };
};
